<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt';
import { ref } from 'vue';
const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()

function onClick() {
    console.log('clicked')
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
}
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6" style="font-family:'Kanit';">
                <v-text-field v-model="tel" density="compact" variant="solo" 
                label="Search Members" append-inner-icon="mdi-magnify" 
                single-line hide-details
                @click:append-inner="onClick"
                @keyup.enter="onClick"
                style="padding-left: 7%;"></v-text-field>
            </v-col>
            
            <v-col cols="6" class="pa-2 text-center" style="font-family: 'Kanit'; font-size: 14pt; color: rgb(113, 86, 78);">
                {{ memberStore.currentMember?memberStore.currentMember?.name :'Member not found'}}
            </v-col>
        </v-row>
    </v-container>
</template>