<script setup lang="ts">
import type { Product } from '@/types/Products';
import ProductList from '@/components/ProductList.vue';
import { ref, nextTick } from 'vue';
import { type ReceiptItem } from '@/types/ReceiptItem';

import { useReceiptStore } from '@/stores/receipt';
import ReceiptDetailTable from '@/views/pos/ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import { provide } from 'vue';
import ReceiptDialog from './ReceiptDialog.vue';

const receiptStore = useReceiptStore()
const dialog = ref(false)
provide('ReceiptDialog',dialog)

const products: Product[] = [
    { id: 1, name: 'Ice latte', price: 55.0, type: 1 },
    { id: 2, name: 'Ice caramel latte', price: 50.0, type: 1 },
    { id: 42, name: 'Ice Chocolate', price: 40.0, type: 1 },
    { id: 4, name: 'Ice Tea', price: 65.0, type: 1 },
    { id: 5, name: 'Ice Matcha', price: 55.0, type: 1 },
    { id: 19, name: 'Cold brew', price: 70.0, type: 1 },
    { id: 20, name: 'Ice Berry Tea', price: 60.0, type: 1 },
    { id: 21, name: 'Ice Milk', price: 45.0, type: 1 },
    { id: 34, name: 'Ice Strawberry', price: 80.0, type: 1 }

]
const products1: Product[] = [
    { id: 6, name: 'Hot Chocolate', price: 50.0, type: 2 },
    { id: 7, name: 'Hot Caramel Macchiato', price: 60.0, type: 2 },
    { id: 8, name: 'Hot Cappuchino', price: 55.0, type: 2 },
    { id: 17, name: 'Hot Tea', price: 65.0, type: 2 },
    { id: 18, name: 'Hot Matcha Latte', price: 50.0, type: 2 },
    { id: 31, name: 'Hot Americano', price: 40.0, type: 2 },
    { id: 32, name: 'Hot Latte', price: 50.0, type: 2 },
    { id: 33, name: 'Hot Hojicha', price: 60.0, type: 2 }
]
const products4: Product[] = [
    { id: 22, name: 'Freppe Matcha', price: 70.0, type: 4 },
    { id: 23, name: 'Freppe Hojicha', price: 80.0, type: 4 },
    { id: 24, name: 'Freppe Milk', price: 60.0, type: 4 },
    { id: 36, name: 'Freppe Coffee', price: 65.0, type: 4 },
    { id: 35, name: 'Freppe Vanilla Milk', price: 65.0, type: 4 },
    { id: 25, name: 'Smoothie Mango', price: 60.0, type: 4 },
    { id: 26, name: 'Smoothie Strawberry', price: 65.0, type: 4 }


]
const products2: Product[] = [
    { id: 9, name: 'Chocolate Cake', price: 70.0, type: 3 },
    { id: 10, name: 'Banoffie', price: 80.0, type: 3 },
    { id: 11, name: 'Cheese Cake', price: 70.0, type: 3 },
    { id: 12, name: 'Brownie', price: 50.0, type: 3 },
    { id: 27, name: 'Maccaron', price: 70.0, type: 3 },
    { id: 28, name: 'Brookie', price: 55.0, type: 3 },
    { id: 37, name: 'Lava Chocolate Cake', price: 80.0, type: 3 },
    { id: 38, name: 'Signature Cake', price: 75.0, type: 3 },
    { id: 39, name: 'Merang Tarts', price: 70.0, type: 3 },
    { id: 40, name: 'Chocolate Stick', price: 45.0, type: 3 },
    { id: 41, name: 'Almonds Tarts', price: 120.0, type: 3 }

]
const products3: Product[] = [
    { id: 13, name: 'Croissant', price: 70.0, type: 3 },
    { id: 14, name: 'Tuna Sandwich', price: 80.0, type: 3 },
    { id: 15, name: 'Crab sticks Sandwich', price: 80.0, type: 3 },
    { id: 16, name: 'Salad', price: 100.0, type: 3 },
    { id: 29, name: 'Chicken rap', price: 89.0, type: 3 },
    { id: 30, name: 'Hotdog', price: 79.0, type: 3 },
    { id: 43, name: 'Omelet', price: 159.0, type: 3 },
    { id: 44, name: 'Ham cheese Sandwich', price: 89.0, type: 3 }

]
const divReceiptItems = ref<HTMLElement | null>(null)
const tab = ref(1)
const selected = (p: Product) => {
    console.log('ProductView' + p)
    receiptStore.addReceiptItem(p)

    nextTick(() => {
        if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })


}
const showReceipt = function(){
    receiptStore.showReceiptDialog()
}




</script>
<template>
    <v-container>
        <!-- rowหลัก -->
        <v-row>
            <v-col cols="12" md="6" style="background-color: rgb(150, 128, 128);">
                <v-container style="padding: 0%;">
                    <!-- rowLeft -->
                    <!-- detail -->
                    <v-row>
                        <v-col cols="12" style="background-color: rgb(150, 128, 128);">
                            <div ref="divReceiptItems" style="height: 300;overflow: auto; font-family: 'Kanit'">
                                <v-sheet min-width="300" max-width="600" height="200">
                                    <ReceiptDetailTable></ReceiptDetailTable>
                                </v-sheet>
                            </div>
                        </v-col>

                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="70">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        
                        <!-- btn -->
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="230">
                                <v-container>
                                    <ReceiptCard></ReceiptCard>
                                    
                                    <v-row style="padding-top: 3%;">
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="lg" color="#db6464" 
                                            size="x-large" elevation="2" 
                                            style="font-family:'Kanit'; color: rgb(255, 255, 255);">Cancle</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-btn block rounded="lg" color="#86bc7e" 
                                            size="x-large" elevation="2" 
                                            style="font-family:'Kanit'; color: rgb(255, 255, 255);"
                                            @click="showReceipt()">Cash</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>

                </v-container>
            </v-col>

            <!-- right colum -->
            <v-col cols="12" md="6" style="background-color: rgb(150, 128, 128);">
                <v-sheet min-width="300" :max-width="600" height="550" style="background-color: rgb(239, 230, 227);">
                    <v-tabs v-model="tab" color="brown" align-tabs="center" style="font-family: 'Kanit'">
                        <v-tab :value="1" style="font-size: 10; font-weight: bold;">Ice Beverage</v-tab>
                        <v-tab :value="2" style="font-size: 10; font-weight: bold;">Hot Beverage</v-tab>
                        <v-tab :value="3" style="font-size: 10; font-weight: bold;">Freppe Beverage</v-tab>
                        <v-tab :value="4" style="font-size: 10; font-weight: bold;">Bakery</v-tab>
                        <v-tab :value="5" style="font-size: 10; font-weight: bold;">Breakfast</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                        <v-window-item :value="1">
                            <ProductList :products="products" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="2">
                            <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="3">
                            <ProductList :products="products4" @selectedProduct="selected"></ProductList>
                        </v-window-item>

                        <v-window-item :value="4">
                            <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                        </v-window-item>


                        <v-window-item :value="5">
                            <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                        </v-window-item></v-window>
                </v-sheet>
            </v-col>
        </v-row>


    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>