<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
const receiptStore = useReceiptStore()
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6" style="font-family: 'Kanit';">Amout</v-col>
            <v-col cols="6" style="font-family: 'Kanit';text-align: right;">{{receiptStore.receipt?.Amount}}</v-col>
            <v-col cols="6" style="font-family: 'Kanit';">Discount</v-col>
            <v-col cols="6" style="font-family: 'Kanit';text-align: right;">{{ ((receiptStore.receipt.Amount)-(receiptStore.receipt.total)).toFixed(2) }}</v-col>
            <v-col cols="6" style="font-family: 'Kanit'; font-weight: bold; font-size: 15pt; padding-top: 4%;">Total</v-col>
            <v-col cols="6" style="font-family: 'Kanit';text-align: right; font-weight: bold; font-size: 15pt; padding-top: 3%;">{{ receiptStore.receipt?.total}}</v-col>
        </v-row>
    </v-container>
</template>