<script setup lang="ts">
import { inject, type Ref } from 'vue';
import clockRealTime from './clockRealTime.vue'

const rail = inject<Ref<boolean>>('rail');
</script>

<template>
  <v-app-bar color="brown darken-4" dark >
    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>


    <v-app-bar-title class="ml-2" style="font-family: 'Kanit';">Gwenchana Coffee</v-app-bar-title>

    <v-spacer></v-spacer>
    <clockRealTime style="padding: 1%; font-size: 25px; font-family: 'Kanit';"></clockRealTime>
  </v-app-bar>
</template>
