<script setup lang="ts">
import { useMessageStore } from '@/stores/message';

const msgStroe = useMessageStore()
</script>
<template>
    <div class="text-center">

        <v-snackbar v-model="msgStroe.snackbar" multi-line>
            {{ msgStroe.text }}

            <template v-slot:actions>
                <v-btn color="red" variant="text" @click="msgStroe.snackbar = false">
                    Close
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>